@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Soledago';
    src: url(/fonts/Soledago.ttf) format('truetype');
}

.details {
    counter-reset: li;
    list-style: none;

    li:before {
        @apply mb-2.5 block;
        content: counter(li) ".";
        counter-increment: li;
    }
}
