@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 600px) {
    html{
        font-size: 20px;
    }
}

.details {
    counter-reset: li;
    list-style: none;

    li:before {
        @apply mb-2.5 block;
        content: counter(li) ".";
        counter-increment: li;
    }
}
